services:
  db:
    image: postgres:17.4
    restart: always
    environment:
      POSTGRES_DB: dishes
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespw
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
